<p-carousel headerText="Beers on Tap" [value]="beers">
    <ng-template let-drink pTemplate="item">
        <div class="ui-grid ui-grid-responsive">
            <div class="ui-grid-row">
                <div class="ui-grid-col-12"><img src="{{drink.imagePath}}" height="100"></div>
            </div>
            <div class="ui-grid-row">
                <div class="ui-grid-col-4"><b>Name</b></div>
                <div class="ui-grid-col-8"><b>{{drink.name}}</b></div>
            </div>
            <div class="ui-grid-row">
                <div class="ui-grid-col-4"><b>Brewery</b></div>
                <div class="ui-grid-col-8">{{drink.brewery}}</div>
            </div>
            <div class="ui-grid-row">
                <div class="ui-grid-col-4"><b>Type</b></div>
                <div class="ui-grid-col-8">{{drink.type}}</div>
            </div>
            <div class="ui-grid-row">
                <div class="ui-grid-col-4"><b>Alcohol by volume</b></div>
                <div class="ui-grid-col-8">{{drink.abv}}</div>
            </div>
            <div class="ui-grid-row">
                <div class="ui-grid-col-4"><b>Description</b></div>
                <div class="ui-grid-col-8">{{drink.description}}</div>
            </div>
        </div>
    </ng-template>
</p-carousel>
<hr />
<p-carousel headerText="Booze" [value]="booze">
    <ng-template let-drink pTemplate="item">
        <div class="ui-grid ui-grid-responsive">
            <div class="ui-grid-row">
                <div class="ui-grid-col-12"><img src="{{drink.imagePath}}" height="100"></div>
            </div>
            <div class="ui-grid-row">
                <div class="ui-grid-col-4"><b>Name</b></div>
                <div class="ui-grid-col-8"><b>{{drink.name}}</b></div>
            </div>
            <div class="ui-grid-row">
                <div class="ui-grid-col-4"><b>Distillery</b></div>
                <div class="ui-grid-col-8">{{drink.brewery}}</div>
            </div>
            <div class="ui-grid-row">
                <div class="ui-grid-col-4"><b>Type</b></div>
                <div class="ui-grid-col-8">{{drink.type}}</div>
            </div>
            <div class="ui-grid-row">
                <div class="ui-grid-col-4"><b>Alcohol by volume</b></div>
                <div class="ui-grid-col-8">{{drink.abv}}</div>
            </div>
            <div class="ui-grid-row">
                <div class="ui-grid-col-4"><b>Description</b></div>
                <div class="ui-grid-col-8">{{drink.description}}</div>
            </div>
        </div>
    </ng-template>
</p-carousel>
