<div class="ui-g">
  <div class="ui-g-12 ui-md-6">
    <h3><i class="fa fa-beer"></i> Beers on Tap</h3>
    <p>
      The G Spot has two beers on tap that rotate seasonally. Check this site to see what's on tap now. KC Bier Co.'s Dunkel is a bar favorite, and surprisingly easy to drink even if you don't like "dark beer".
    </p>
  </div>
  <div class="ui-g-12 ui-md-6">
    <h3><i class="fa fa-beer"></i> Bottled Beers</h3>
    <p>
      Additional bottled or canned beer availability changes frequently and are not listed on this site. Check with bar staff to see what's available outside of the draft beers.
    </p>
  </div>
</div>

<div class="ui-g">
  <div class="ui-g-12">
    <p-carousel headerText="On Tap" [value]="beers" numVisible="2">
      <ng-template let-drink pTemplate="item">
        <div class="ui-grid-col-12 text-center">
          <h3>{{drink.name}}</h3></div>
        <dl class="dl-horizontal">
          <dt>Brewery: </dt>
          <dd>{{drink.brewery}}</dd>
          <dt><i class="fa fa-beer"></i> Type: </dt>
          <dd>{{drink.type}}</dd>
          <dt>Alcohol: </dt>
          <dd>{{drink.abv}}%</dd>
          <dt>Description: </dt>
          <dd>{{drink.description}}</dd>
        </dl>
        <div class="ui-grid-col-12 text-center"><img class="pad-tb-10" src="{{drink.imagePath}}" height="100"></div>
      </ng-template>
    </p-carousel>
    <hr />
  </div>
</div>



<div class="ui-g">
  <div class="ui-g-12 ui-md-6">
    <h3><i class="fa fa-glass"></i> Booze Behind the Bar</h3>
    <p>
      The G Spot also has a full list of alcohol for mixing or just shooting.
    </p>
    <p>
      We got you covered for <i class="fa fa-music"></i> 1 bourbon, 1 scotch, and 1 beer <i class="fa fa-music"></i> plus lots more.
    </p>
  </div>

  <div class="ui-g-12 ui-md-6">
    <h3><i class="fa fa-glass"></i> Drink Mixers</h3>
    <p>
      The bar has numerous mixers, soda, energy drinks, etc. for making drinks.  See bar staff for a full rundown of available flavors/mixers.
    </p>
  </div>

</div>

<div class="ui-g">
  <div class="ui-g-12">
    <p-carousel headerText="Hard Liquor" [value]="booze" numVisible="3">
      <ng-template let-drink pTemplate="item">
        <div class="ui-grid ui-grid-responsive">
          <div class="ui-grid-col-12 text-center">
            <h3>{{drink.name}}</h3></div>
        </div>
        <dl class="dl-horizontal">
          <dt>Distillery: </dt>
          <dd>{{drink.brewery}}</dd>
          <dt><i class="fa fa-glass"></i> Type: </dt>
          <dd>{{drink.type}}</dd>
          <dt>Alcohol: </dt>
          <dd>{{drink.abv}}%</dd>
          <dt>Description: </dt>
          <dd>{{drink.description}}</dd>
        </dl>
        <div class="ui-grid-col-12 text-center"><img class="pad-tb-10" src="{{drink.imagePath}}" height="100"></div>
      </ng-template>
    </p-carousel>
  </div>
</div>
