<div class="ui-g-12">
  <h2><i class="fa fa-gamepad"></i> SNES Games</h2>
  <hr />
</div>
<div class="ui-g-12 ui-lg-8 ui-lg-offset-2">
  <p>
    The G Spot is equiped with a Super Nintendo (SNES) with over 200 classic games for patrons to play for free. Challenge friends to games of Mario Kart, Mortal Kombat, or Turtles In Time.
  </p>
</div>
<div class="ui-g-12">
  <h2><i class="fa fa-music"></i> Karaoke</h2>
  <hr />
</div>
<div class="ui-g-12 ui-lg-8 ui-lg-offset-2">
  <p>
    With over 700 songs to choose from, you’re sure to find something to sing on karaoke night. And when is karaoke night? Everynight!
  </p>
  <p>
    Karaoke is free to all G Spot patrons. Just indicate the song’s track number and the staff will queue it up. This is the current song listing:
  </p>
</div>
<div class="ui-g-12 ui-lg-8 ui-lg-offset-2">
  <h3>Karaoke Song List</h3>
  <p-dataTable [value]="songs" [lazy]="true" [rows]="30" [paginator]="true" [rowsPerPageOptions]="[20,30,40,50]" [resizableColumns]="true" [totalRecords]="totalRecords" (onLazyLoad)="loadSongsLazy($event)">
    <p-column field="artist" header="Artist" [style]="{'width':'45%'}"></p-column>
    <p-column field="title" header="Title" [style]="{'width':'45%'}"></p-column>
    <p-column field="track" header="Track #" [style]="{'width':'10%'}"></p-column>
  </p-dataTable>
</div>
