<nav class="navbar navbar-inverse" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand"><img src="{{logoPath}}" alt="Brand" class="brand-logo"/></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="navbar">
      <ul class="nav navbar-nav">
        <li class="pull-left"><a></a></li>
        <!-- Dashboard -->
        <li ng-class="{active : activePage === 'home'}">
          <a routerLink="" (click)="onSelect('home')"><i class="fa fa-home" aria-hidden="true"></i> Home</a>
        </li>
        <li ng-class="{active : activePage === 'drinks'}">
          <a routerLink="/drinks" (click)="onSelect('drinks')"><i class="fa fa-beer" aria-hidden="true"></i> Drinks</a>
        </li>
        <li ng-class="{active : activePage === 'entertainment'}">
          <a routerLink="/entertainment" (click)="onSelect('entertainment')"><i class="fa fa-music" aria-hidden="true"></i> Entertainment</a>
        </li>
        <li ng-class="{active : activePage === 'contact'}">
          <a routerLink="/contact" (click)="onSelect('contact')"><i class="fa fa-envelope" aria-hidden="true"></i> Contact</a>
        </li>
        <li class="social pull-right"><a></a></li>
        <!-- Social Links -->
      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container-fluid -->
</nav>
