<div class="ui-g">
  <article class="ui-g-12 ui-md-5 ui-md-offset-1 ui-lg-4 ui-lg-offset-2">
    <h3>BYOB!</h3>
    <p>
      That's right, The G Spot is a BYOB bar. If we don't have the beer or drink you like, feel free to bring your own to the party. Coolers are welcome if you don’t want to fight for fridge space.
    </p>
    <img class="img-rounded img-responsive" src="../assets/img/drink-beer-sm.jpg" alt="Beer Prost">
  </article>
  <article class="ui-g-12 ui-md-5 ui-lg-4">
    <h3>Full Bar</h3>
    <p>
      Along with being BYOB, The G Spot has a full bar as well. We have beers on tap and a decent inventory of booze with mixers available. Check out our current inventory listed below.
    </p>
    <p>
        This is a <strong>cash only</strong> establishment.  If you run out of cash, you can probably sweet talk the bartender into some free drinks.
    </p>
    <img class="img-rounded img-responsive text-center" src="../assets/img/pexels-photo-221029-sm.jpeg" alt="Beer Taps">
  </article>
  <div class="ui-g-12">
    <hr />
  </div>
  <div class="ui-g-12 ui-lg-8 ui-lg-offset-2">
    <app-drink-list></app-drink-list>
  </div>
</div>
