.content {
  padding: 20px 25px 20px 25px;
  line-height: 1.6em;
}

#ping-ball {
  color: #ffa500;
}

.fa-stack {
  margin-top: -15px;
  margin-bottom: -15px;
}

#ball-blk {
  font-size: 1.25em;
}

#ball-wht {
  font-size: .5em;
}

#ball-text {
  font-size: .3em;
}

#CAH {
  height: 40px;
  width: auto;
}

img {
  margin: 0 auto;
}

p {
  margin-top: 25px
}

.title-icon {
  height: 2em;
  width: auto;
  margin-bottom: -20px;
}