<div class="jumbotron">
  <h1 id="title" class="text-center"><strong>The G Spot</strong></h1>
  <h2 id="sub-title" class="text-center"><em>If you're here, you found it!</em></h2>
</div>
<div class="ui-g">
  <div class="ui-g-12 ui-md-6 ui-lg-4 ui-lg-offset-2 content">
    <div class="thumbnail">
      <img class="img-rounded img-responsive" src="../assets/img/beer-machine-alcohol-brewery-159291-sm.jpeg" alt="beer taps">
      <div class="caption">
        <h3><b><i class="fa fa-list-alt" aria-hidden="true"></i> Drink Menu</b></h3>
        <p>There is a full bar but is also BYOB. So, check out our selection of beers on tap and extensive list of booze.</p>
        <button pButton type="button" routerLink="/drinks" label="View Details" icon="fa-arrow-right" iconPos="right"></button>
      </div>
    </div>
  </div>

  <div class="ui-g-12 ui-md-6 ui-lg-4 content">
    <div class="thumbnail">
      <img class="img-rounded img-responsive" src="../assets/img/pexels-photo-164879.jpeg" alt="Karaoke Mic">
      <div class="caption">
        <h3><b><i class="fa fa-music" aria-hidden="true"></i> Karaoke & Games</b></h3>
        <p>With 200+ SNES games, 700+ karaoke songs, and Cards Against Humanity there's always fun at The G Spot!</p>
        <button pButton type="button" routerLink="/entertainment" label="View Details" icon="fa-arrow-right" iconPos="right"></button>
      </div>
    </div>
  </div>

</div>
<div class="ui-g">
  <article class="ui-g-12 ui-md-6 ui-lg-4 ui-lg-offset-2 content">
    <h3><b><i class="fa fa-question" aria-hidden="true"></i> About</b></h3>
    <p>
      Founded in 2017, The G Spot is a neighborhood bar that is invite only. You gotta have the right info and know the right person to find The G Spot. The bar’s open every evening and weekend.
    </p>
  </article>
  <article class="ui-g-12 ui-md-6 ui-lg-4 content">
    <h3><b><i class="fa fa-map-marker" aria-hidden="true"></i> Location</b></h3>
    <p>
      That's the big question... where? You have to have the right knowledge, skills and practice to find The G Spot. The G Spot is a mysterious place that can be difficult to locate for some. Feel free to ask your friends to see if they know where The G Spot is located and come join in the fun. You can always contact us and maybe we can assist in your quest to locate The G Spot.
    </p>
    <button pButton type="button" routerLink="/contact" label="Contact Us" icon="fa-arrow-right" iconPos="right"></button>
  </article>
</div>
