<div class="jumbotron">
  <h1 id="title" class="text-center"><strong>The G Spot</strong></h1>
  <h2 id="sub-title" class="text-center"><em>If you found it, you're here!</em></h2>
</div>
<div class="ui-g">
    <div class="ui-g-12">
        <p class="text-center">
            The G Spot Bar is a mysteriour place that can be difficult to locate for some.  Feel free to ask your friends to see if they know where The G Spot is located and come join in the fun.
        </p>
    </div>
    <div class="ui-g-12 ui-md-6 ui-lg-4 content">
        <h3><b>Drink Menu</b></h3>
        <p>
            There is a full bar but is also BYOB.  So, check out our selection of beers on tab and extensive list of booze.
        </p>
        <button pButton type="button" routerLink="/drinks" label="View Details" icon="fa-arrow-right" iconPos="right"></button>
    </div>
    <div class="ui-g-12 ui-md-6 ui-lg-4">
        <h3><b>Karaoke & Games</b></h3>
        <p>
            With 200+ SNES games, 700+ karaoke songs, and Cards Against Humanity there's always fun at The G Spot!
        </p>
        <button pButton type="button" routerLink="/entertainment" label="View Details" icon="fa-arrow-right" iconPos="right"></button>
    </div>
    <div class="ui-g-12 ui-md-6 ui-lg-4">
        <h3><b>About</b></h3>
        <p>
            Details here
        </p>
    </div>
</div>
