<div class="jumbotron">
  <div id="logo-text">
    <h1 id="title" class="text-center"><strong>The G Spot</strong></h1>
    <h2 id="sub-title" class="text-center"><em>If you're here, you found it!</em></h2>
  </div>
  <img id="logo-img" class="img-rounded img-responsive" src="../assets/img/G-Spot-Logo.png" alt="The G Spot Bar Logo">
</div>
<div class="ui-g">
  <div class="ui-g-12 ui-md-6 ui-lg-4 ui-lg-offset-2 content">
    <div class="thumbnail">
      <a routerLink="/drinks"><img class="img-rounded img-responsive" src="../assets/img/beer-machine-alcohol-brewery-159291-sm.jpeg" alt="beer taps"></a>
      <div class="caption">
        <h3><b><img class="title-icon" src="../assets/img/menu.svg" alt="drink menu"> Drink Menu</b></h3>
        <p>There is a full bar but <abbr title="Bring Your Own Beer">BYOB</abbr> is also accepted. So, check out our selection of beers on tap and extensive list of booze. <i class="fa fa-money" aria-hidden="true"></i> This is a cash only establishment.</p>
        <button pButton type="button" routerLink="/drinks" label="View Details" icon="fa-arrow-right" iconPos="right"></button>
      </div>
    </div>
  </div>

  <div class="ui-g-12 ui-md-6 ui-lg-4 content">
    <div class="thumbnail">
      <a routerLink="/entertainment"><img class="img-rounded img-responsive" src="../assets/img/pexels-photo-164879.jpeg" alt="Karaoke Mic"></a>
      <div class="caption">
        <h3><b><img class="title-icon" src="../assets/img/karaoke.svg" alt="Karaoke Mic"> Karaoke & Games</b></h3>
        <p>With 200+ <abbr title="Super Nintendo Entertainment System">SNES</abbr> games, 700+ karaoke songs, Cards Against Humanity, ping-pong, and more there's always fun at The G Spot!</p>
        <button pButton type="button" routerLink="/entertainment" label="View Details" icon="fa-arrow-right" iconPos="right"></button>
      </div>
    </div>
  </div>

</div>
<div class="ui-g">
  <article class="ui-g-12 ui-md-6 ui-lg-4 ui-lg-offset-2 content">
    <h3><b><img class="title-icon" src="../assets/img/info.svg" alt="info"> About</b></h3>
    <p>
      Named after its owners and founded in 2017, The G Spot is a neighborhood bar that is invite only. So, you have to know the right info and people to find The G Spot. The bar is open nearly every evening and weekend but hours do vary.
    </p>
  </article>
  <article class="ui-g-12 ui-md-6 ui-lg-4 content">
    <h3><b><img class="title-icon" src="../assets/img/drink-location.svg" alt="drink menu"> Location</b></h3>
    <p>
      That's the big question... where? You have to have the right knowledge, skills and practice to find The G Spot. The G Spot is a mysterious place that can be difficult to locate for some. Feel free to ask your friends to see if they know where The G Spot
      is located and come join in the fun. You can always contact us and maybe we can assist in your quest to locate The G Spot.
    </p>
    <button pButton type="button" routerLink="/contact" label="Contact Us" icon="fa-arrow-right" iconPos="right"></button>
  </article>
</div>
