.jumbotron {
  margin: -20px -15px 20px -15px;
}

.jumbotron>img {
  max-height: 300px;
}

@media screen and (max-width: 600px) {
  #logo-text {
    display: block;
  }
  #logo-img {
    display: none;
  }
}

@media screen and (min-width: 601px) {
  #logo-text {
    display: none;
  }
  #logo-img {
    display: inherit;
  }
}

@media screen and (min-width: 601px) And (max-width: 1200px) {
  #logo-text {
    display: none;
  }
  #logo-img {
    display: inherit;
    max-height: 250px;
  }
}

.content {
  padding: 20px 25px 20px 25px;
  line-height: 1.6em;
}

.img-responsive {
  margin: 0 auto;
}

.title-icon {
  height: 2em;
  width: auto;
}